/* ADDRESS PART */


.addressDiv {
    color: black;
  
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-image: url("/laquinta/laquinta-descriptiondiv-BCG.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .cardAddress {
    position: relative;
    width: 80%;
    background-color: var(--bcg-1);

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .portugalDiv {
    z-index: 2000;
    position: absolute;
    height: 85%;
    top: 0;
    right: 0;
  
    aspect-ratio: 260 / 423;
  }
  
  .textAddressDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  
    z-index: 3000;
    /* position: absolute; */
  
    padding: 30px;
  }
  
  .titleAddress {
    font-family: "instrument-serif";
    font-weight: 400;
    font-size: 10vw;
    text-align: center;
  }
  
  .subtitleAddress {
    font-family: "spectral";
    font-size: 2.8vw;
    margin-top: -8px;
  }
  
  .roundedTitleAddress {
    font-family: "spectral";
    font-size: 2.8vw;
    margin: 15px 0px;
  
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  .textStreetAddress{
    font-family: "basier-square-mono";
    text-transform: uppercase;
    font-size: 5vw;
  }
  
  .textCityAddress {
    margin-top: 20px;
    font-family: "basier-square-mono";
    text-transform: uppercase;
    font-size: 5vw;
  }
  
  .lineAddress{
    width: 100%;
    border-width: thin;
    color: black;
    margin: 10px 0px;
  }
  
  .roudedEndText{
    font-family: "spectral";
    font-size: 2.8vw;
    margin: 5px 0px;
  
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  .textSignAddress{
    font-family: 'southern-bay';
    color: var(--red-sign);
    font-size: 6vw;
    transform: rotate(-4.17deg);
    margin: 5px;
    margin-top: 5px;
  }
  
  .endTextAddress{
    position: absolute;
    font-family: 'spectral';
    font-size: 2vw;
    margin-top: 20px;
    bottom: 5px;
  }