/* ADDRESS PART */
.cardAddressBigScreen {
  display: none;
}

.addressDiv {
    color: black;
  
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-image: url("/laquinta/laquinta-descriptiondiv-BCG.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .cardAddressLittleScreen {
    position: relative;
    width: 80%;
    background-color: var(--bcg-1);

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .portugalDiv {
    z-index: 2000;
    position: absolute;
    height: 85%;
    top: 0;
    right: 0;
  
    aspect-ratio: 260 / 423;
  }
  
  .textAddressDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  
    z-index: 3000;
    /* position: absolute; */
  
    padding: 30px;
  }
  
  .titleAddress {
    font-family: "instrument-serif";
    font-weight: 400;
    font-size: 10vw;
    text-align: center;
  }
  
  .subtitleAddress {
    font-family: "spectral";
    font-size: 2.8vw;
    margin-top: -8px;
  }
  
  .roundedTitleAddress {
    font-family: "spectral";
    font-size: 2.8vw;
    margin: 15px 0px;
  
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  .textStreetAddress{
    font-family: "basier-square-mono";
    text-transform: uppercase;
    font-size: 5vw;
  }
  
  .textCityAddress {
    margin-top: 20px;
    font-family: "basier-square-mono";
    text-transform: uppercase;
    font-size: 5vw;
  }
  
  .lineAddress{
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
    margin: 10px 0px;
  }
  
  .roudedEndText{
    font-family: "spectral";
    font-size: 2.8vw;
    margin: 5px 0px;
  
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  .textSignAddress{
    font-family: 'southern-bay';
    color: var(--red-sign);
    font-size: 6vw;
    transform: rotate(-4.17deg);
    margin: 5px;
    margin-top: 5px;
  }
  
  .endTextAddress{
    font-family: 'spectral';
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: -15px;
  }

  @media (min-width: 1024px) {
    .cardAddressLittleScreen {
      display: none;  
    }

    .portugalDiv {
      height: 103%;
    }

    .cardAddressBigScreen {
      display: flex;

      position: relative;
      width: 65rem;
      background-color: var(--bcg-1);
  
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .headOfPostageCard {
      z-index: 3000;
      padding-top: 3rem;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }

    .textHeadOfPostageCard {
      align-self: flex-start;
      font-family: 'spectral';
      font-size: 0.9rem;
      margin-left: 3rem;
      line-height: 1.2;
    }

    .titlePostageCard {
      padding-top: 2.5rem;
      font-family: "instrument-serif";
      font-size: 4.5rem;
      line-height: 1;
      text-align: center;
    }

    .subtitlePostageCard {
      font-family: 'spectral';
      font-size: 1rem;
      text-align: center;
    }

    .stampPostageDiv {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .stampPostage {
      width: fit-content;
      margin-right: 3rem;
      padding: 3rem 2rem;
      font-family: 'spectral';
      text-transform: uppercase;
      font-size: 0.85rem;
      text-align: center;
      line-height: 1.2;

      border: 1px solid black;
    }

    .signAndAddressDiv{
      z-index: 3000;
      margin-top: 3rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .signDivAddress {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 0;

      border-right: 1px solid black;
    }

    .textAddressDivBigScreen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 0;
    }

    .textSignAddressBigScreen {
      font-family: 'southern-bay';
      color: var(--red-sign);
      font-size: 2.8rem;
      line-height: 1.3;
      transform: rotate(-7.82deg);
      margin: 5px;
      margin-top: 2rem;

      padding-bottom: 3rem;
    }

    .roudedEndText {
      font-size: 0.9rem;
      text-wrap: nowrap;
      padding: 0.8rem 1rem;
      margin: 0px;
      width: fit-content;
    }

    .roundedTitleAddress {
      font-size: 0.9rem;
      margin: 0px;
      padding: 0.8rem 1rem;

    }

    .textStreetAddress {
      margin-top: 3rem;
      font-size: 2.5rem;
      text-align: center;
    }

    .textCityAddress {
      font-size: 2.5rem;
      text-align: center;
    }

    .endTextDivAddress {
      font-family: 'spectral';
      font-size: 0.9rem;

      margin-top: 2rem;
      margin-bottom: 2.5rem;
    }

  }