@font-face {
  font-family: "MsMadi";
  src: url("/laquinta/fonts/MsMadi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: start;
  justify-items: center;
  min-height: 100svh;
  padding-bottom: 1px;
  font-family: var(--font-geist-sans);
  caret-color: transparent;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-row-start: 1;
  border-bottom: 1px solid var(--primary);
}

.header > * {
  font-family: "MsMadi", sans-serif;
  font-weight: 900;
  font-size: 64px;
  padding: 32px;
  color: var(--primary);
}

#followHeader {
  border-right: 1px solid var(--primary);
}

#carteHeader {
  border-left: 1px solid var(--primary);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  grid-row-start: 2;
  margin-top: 128px;
}

.footer {
  grid-row-start: 3;
}


.mainTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.mainTitle {
  font-size: 374px;
  font-weight: 900;
  text-align: center;
  color: var(--primary);
  text-decoration: underline;
}

.mainSubtitle {
  font-family: "MsMadi", sans-serif;
  font-size: 256px;
  text-align: center;
  /* font-weight: 900; */
  text-align: center;
  margin-top: -96px;
  color: var(--secondary);
}

.mainImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 128px;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

