@font-face {
  font-family: "basier-square-mono";
  src: url("/laquinta/fonts/basiersquaremono-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "instrument-serif";
  src: url("/laquinta/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "southern-bay";
  src: url("/laquinta/fonts/SouthernBay-Alt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spectral";
  src: url("/laquinta/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.page {
  caret-color: transparent;
}

.header {
  display: none;
  height: 0px;
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.main {
  scroll-snap-type: y mandatory;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}






