@font-face {
  font-family: "MsMadi";
  src: url("/laquinta/fonts/MsMadi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: start;
  justify-items: center;
  max-width: 100vw;
  min-height: 100svh;
  padding-bottom: 1px;
  font-family: var(--font-geist-sans);
  caret-color: transparent;
}


.header {
  background-color: var(--background);
  position: sticky !important;
  top: 0;
  max-height: 9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-row-start: 1;
  border-bottom: 1px solid var(--primary);
}

.header > * {
  font-family: "MsMadi", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  padding:  1.9rem;
  color: var(--primary);
}

#followHeader {
  border-right: 1px solid var(--primary);
}

#carteHeader {
  border-left: 1px solid var(--primary);
}

#logo {
  padding: 5px;
  object-fit: scale-down;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  grid-row-start: 2;
  /* margin-top: 6em; */
}

.footer {
  grid-row-start: 3;
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainTitleContainer{
  z-index: -10;
  /* width: 90%; */
}

.sticky {
  position: sticky;
  top: 100px;
}

.relative {
  position: relative;
}

.mainTitle {
  font-size: 25rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary);
  text-decoration: underline;
}

.mainSubtitle {
  font-family: "MsMadi", sans-serif;
  font-size: 15rem;

  text-align: center;
  text-align: center;
  color: var(--secondary);
  line-height: 0.6;
}

.mainSubtitleContainer {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: space-between	;
}

.roundedEdge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
  font-size: 0.95vw;
  font-weight: 600;
  text-align: center;

  height: 5.9vw;
  aspect-ratio: 3/2;
   /* update the 85% to control the curvature */
  clip-path: ellipse(60% 50%);
  /* or clip-path: ellipse(85% 50% at 50% 50%) if you want to adjust the position */
  background: var(--primary);
  
}


.roudedSecondBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.1vw;
  aspect-ratio: 3/2;
   /* update the 85% to control the curvature */
  clip-path: ellipse(60% 50%);
  /* or clip-path: ellipse(85% 50% at 50% 50%) if you want to adjust the position */
  background: var(--background);
}

.roundedFirstBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5vw;
  aspect-ratio: 3/2;
   /* update the 85% to control the curvature */
  clip-path: ellipse(60% 50%);
  /* or clip-path: ellipse(85% 50% at 50% 50%) if you want to adjust the position */
  background: var(--primary);
}


.mainImageContainer {
  margin-top: 8rem;
  z-index: -20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.horaireAddressContainer {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horaireTitle {
  text-align: center;
  font-family: 'MsMadi', sans-serif;
  /* font-size: 64px; */
  font-size: 4.2rem;
  color: var(--secondary);
}

.weekTitle {
  text-align: center;
  /* font-size: 42px; */
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--primary);
}

.weekHoraire {
  font-family: 'MsMadi', sans-serif;
  text-align: center;
  /* font-size: 48px; */
  font-size: 3.2rem;

  font-weight: 900;
  color: var(--secondary);
}

.addressText {
  text-align: center;
  font-size: 2rem;

  font-weight: 700;
  color: var(--primary);
}

.bomApetiteContainer {
  z-index: -20;
  width: 20rem;
  height: 20rem;
  position: relative;
}

.bomApetite {
  object-fit: scale-down;
}

.funContainer{
  margin-top: 12rem;
  width: 100%;
  min-height: 30rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
}



.funTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.funSubTextContainer{
  display: flex;
  flex-direction: column;
  line-height: 0.8;
  
}

.funText {
  align-self: center;
  font-size: 2.8rem;
  font-weight: 600;
  font-family: "MsMadi", sans-serif;
  color: var(--secondary);
}



.funFood{
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: var(--primary);
  line-height: 1;
}

.funTextMidle{
  padding-right: 25rem;
}

.funImageContainer{
  z-index: -20;
  position: relative; /* Obligatoire pour que fill fonctionne */
  height: 100%;
}

.textPresentation {
  padding: 0 50rem;
  margin-top: 50rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: justify;
  color: var(--primary);

}

.bigDiv{
  height: 10000px;
}



/* @media (max-width: 600px) {
  .header {
    width: 100vw;
  }



  #followHeader {
    display: none;
  }

  .funImage{
    max-width: 13em;
    object-fit: scale-down;
  }

  .main {
    align-items: center;
  }

  .mainImageContainer{
    gap: 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:480px){
  #carteHeader {
    font-size: 1.9em;
  }

  #logo {
    max-height: 105px;
    max-width: 105px;
    padding-left: 5px;
  }

  .logoContainer{
    display: flex;
  }


  .mainTitle{
    font-size: 18vw;
  }

  .mainSubtitle{
    font-size: 9.7vw;
  }

  .roundedEdge{
    height: 8.7vw;
    font-size: 1.3vw;
  }

  .roudedSecondBorder{
    height: 9vw;
  }

  .roundedFirstBorder{
    height: 10vw;
  }


  .funImage{
    height: auto;
    margin-bottom: 64px;
  }

  .horaireAddressContainer{
    margin-top: 64px;
  }
} */

