/* PAUSE PART */

.pauseDiv {
    z-index: 1000;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: black;
  }
  
  .textPause {
    font-family: "instrument-serif";
    font-size: 18vw;
    text-align: center;
    line-height: 1.1;
  }
  
  .portuguesa {
    margin: -4vw;
    font-size: 10vw;
    font-family: 'southern-bay';
    background-color: #BC2321;
    padding: 3vw 5vw;
    border-radius: 10px;
    transform: rotate(-4.43deg);
  }


  @media (min-width: 1024px) {
    .textPause {
      font-size: 7rem;
    }
  }
