
.titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .titleDiv .quintaLogo {
    position: relative;
    width: 60vw;
    aspect-ratio: 220 / 109;
  }
  
  .titleDiv .subtitle {
    font-family: 'basier-square-mono';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.65vw;
    text-align: center;
    margin-top: 8px;
  }
  

  @media (min-width: 1024px) {
    .titleDiv .quintaLogo {
      width: 30vw;
    }

    .titleDiv .subtitle {
      font-size: 1vw;
    }
  }