/* PAUSE PART */

.productBigScreen {
  display: none;
}

  .productLittleScreen {
    z-index: 1000;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: black;
  }
  
  .textProduct {
    font-family: "instrument-serif";
    font-size: 18vw;
    text-align: center;
    line-height: 1.1;
  }
  
  .portuguesa {
    margin: -4vw;
    font-size: 10vw;
    font-family: 'southern-bay';
    background-color: #BC2321;
    padding: 3vw 5vw;
    border-radius: 10px;
    transform: rotate(-4.43deg);
  }


  @media (min-width: 1024px) {
    .textProduct {
      font-size: 11rem;
      text-align: start;
      margin-top: -4rem;
      margin-left: 5rem;
    }

    .productLittleScreen {
      display: none;
    }

    .productBigScreen {
      z-index: 1000;
      position: relative;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      background-color: black;
    }

    .portuguesa {
      font-size: 8rem;
      align-self: flex-end;
      margin-right: 25rem;
      padding: 2rem 4rem;
      border-radius: 2rem;
    }
  }

  @media (min-width: 2200px) {
    .textProduct {
      font-size: 12rem;
    }

    .portuguesa {
      font-size: 8rem;
    }
  }
