/* DESCRIPTION PART */

.descriptionDiv {
    scroll-snap-align: start;
    z-index: 2000;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/laquinta/laquinta-descriptiondiv-BCG.jpg");
    background-size: cover;
  
    background-position: center;
  }
  
  .ticketDescription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    margin: 2.3em;
    background-color: var(--bcg-1);
    color: black;
    text-align: center;
  
    border: 1px solid black;
    outline: 10px solid var(--bcg-1);
  }
  
  
  
  
  .titleDescription {
    font-family: "basier-square-mono";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3.18vw;
  
  
  }
  
  .textDescription {
    margin-top: 20px;
    font-family: "instrument-serif";
    /* font-size: 9.75vw; */
    font-size: 4.5vh;
    line-height: 1.2;
  }

  .textDescriptionBigScreen{
    display: none;
  }
  
  .signatureDescription {
    color: var(--red-sign);
    font-family: "southern-bay";
    font-size: 10.28vw;
    transform: rotate(-5.22deg);
    margin-bottom: -10px;
  }


  @media (min-width: 1024px) {

    .ticketDescription {
      outline: 20px solid var(--bcg-1);
    }

    .ticketDescription {
      padding: 0px 120px;
    }

    .titleDescription {
      margin-top: 35px;
      font-size: 1.2rem;
    }
    
    .textDescription {
      display: none;
    }

    .textDescriptionBigScreen {
      display: block;
      font-family: "instrument-serif";
      /* font-size: 9.75vw; */
      margin-top: 20px;
      font-size: 4.5rem;
      line-height: 1.2;
    }

    .signatureDescription {
      font-size: 6rem;
      margin-bottom: 20px;
    }
  }